#mainPart {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

#mainPart .welcomePart {
    margin-top: 1rem;
    display: flex;
}

#mainPart .welcomePart .nav {
    width: 320px;
    max-height: calc(100vh - 2rem - 120px);
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 20px -10px #0005;
}

#mainPart .welcomePart .nav::-webkit-scrollbar {
    width: 5px;
}
  
#mainPart .welcomePart .nav::-webkit-scrollbar-track {
    background: #d1d1d1;
}

#mainPart .welcomePart .nav::-webkit-scrollbar-thumb {
    background-color: #fc1201;
}

#mainPart .welcomePart .nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1rem;
}

#mainPart .welcomePart .nav div span {
    transition: .3s;
}

#mainPart .welcomePart .nav:hover {
    z-index: 1100;
}

#mainPart .welcomePart .nav div:hover {
    background-color: #fcfcfc;
}

#mainPart .welcomePart .nav div span:hover {
    color: #fc1201;
    text-decoration: underline;
}

#mainPart .welcomePart .posters {
    position: relative;
}

#mainPart .welcomePart .posters .slideShowContainer {
    width: 810px;
    /* max-width: 600px; */
    margin: auto;
    overflow: hidden;
    position: relative;
}

#mainPart .welcomePart .posters .slideShowContainer .slideShow {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

#mainPart .welcomePart .posters .slideShowContainer .slideShow img {
    width: 810px;
    /* height: 440px; */
    cursor: pointer;
}

#mainPart .welcomePart .posters .arrowSlide {
    padding: 1rem .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 44px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: .25rem;
    position: absolute;
    top: 220px;
    transition: .3s;
}

#mainPart .welcomePart .posters .arrowSlide svg path {
    transition: .3s;
}

#mainPart .welcomePart .posters .arrowSlide:hover {
    background-color: #fc1201;
    cursor: pointer;
}

#mainPart .welcomePart .posters .arrowSlide:hover svg path {
    fill: #fff;
}

#mainPart .welcomePart .posters .rightArrowSlide {
    right: 10px;
}

#mainPart .welcomePart .posters .leftArrowSlide {
    left: 10px;
    transform: rotateZ(180deg);
}

#mainPart .welcomePart .posters .slidePaginationContainer {
    display: flex;
    justify-content: center;
}

#mainPart .welcomePart .posters .slidePagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: #fff;
    box-sizing: border-box;
    padding: .5rem;
    border-radius: .5rem; 
    box-shadow: 0 0 20px -10px #0005;
}

#mainPart .welcomePart .posters .slidePagination span {
    height: 10px;
    width: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    scale: .8;
    cursor: pointer;
}

#mainPart .welcomePart .posters .slidePagination .active {
    background-color: #003459;
    scale: 1;
}

#mainPart .promotions .promotionProducts .promotionProduct .productTopPart .productPhotoAndBtns .productBtns svg path {
    fill: #000;
    transition: .5s;
}

#mainPart .promotions .promotionProducts .promotionProduct .productTopPart .productPhotoAndBtns .productBtns svg .doItBigger {
    scale: 1.4;
}

#mainPart .promotions .promotionProducts .promotionProduct .productTopPart .productPhotoAndBtns .productBtns svg .aBitBigger {
    scale: 1.03;
}

#mainPart .promotions .promotionsText {
    font-size: 1.2rem;
    margin: 1rem 0;
}

#mainPart .products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 1rem;
}

#mainPart .products .product {
    background-color: #fff;
    border-radius: .25rem;
    padding: 1.2rem;
    width: 20%;
    height: 100%;
    transition: .3s;
}

/* #mainPart .products .product .productContainer {
    padding: 1.5rem;
} */

#mainPart .products .product .productTopPart {
    position: relative;
}

#mainPart .products .product .productTopPart .productPhotoAndBtns img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

#mainPart .products .product .productTopPart .promotionTag {
    position: absolute;
    font-size: .625rem;
    background-color: #fc1201;
    color: #fff;
    padding: .25rem .5rem;
    border-radius: .75rem;
}

#mainPart .products .product .productTopPart .productPhotoAndBtns .productBtns {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    gap: .75rem;
}

#mainPart .products .product .productTopPart .productPhotoAndBtns .productBtns svg {
    cursor: pointer;
}

#mainPart .products .product .productBottomPart {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    gap: .5rem;
    font-size: .875rem;
}

#mainPart .products .product .productBottomPart .productName {
    margin-bottom: .5rem;
    cursor: pointer;
    transition: .3s;
}

#mainPart .products .product .productBottomPart .productPrice {
    height: 100%;
}

#mainPart .products .product .productBottomPart .productPrice .prevAndDiscount {
    display: flex;
    align-items: center;
}

#mainPart .products .product .productBottomPart .productPrice .prevAndDiscount .prevPrice {
    text-decoration: line-through;
    color: #0005;
}

#mainPart .products .product .productBottomPart .productPrice .prevAndDiscount .priceDiscount {
    margin-left: .5rem;
    padding: .25rem .5rem;
    background-color: #d5383d;
    border-radius: .75rem;
    color: #fff;
    font-size: .625rem;
}

#mainPart .products .product .productBottomPart .productPrice .currPrice {
    font-size: 1.5rem;
    font-weight: bold;
    color: #d5383d;
}

#mainPart .products .product .productBottomPart .productIteraction {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mainPart .products .product .productBottomPart .productIteraction .amount {
    border: 1px solid #f2f2f2;
    border-radius: .5rem;
    background-color: #f8fbfd;
    display: flex;
    align-items: center;
}

#mainPart .products .product .productBottomPart .productIteraction .amount .inputAmount {
    all: unset;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    text-align: center;
    max-width: 2.5rem;
    padding: .25rem 0;
}

#mainPart .products .product .productBottomPart .productIteraction .amount button {
    all: unset;
    font-size: 1.4rem;
    /* padding: .5rem; */
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
}

#mainPart .products .product .productBottomPart .productIteraction .take {
    border: 1px solid #fc1201;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

#mainPart .products .product .productBottomPart .productIteraction .take svg path {
    fill: #fc1201;
    transition: .3s;
}

#mainPart .products .product:hover {
    box-shadow: 0 0 20px 0 #3331;
}

#mainPart .products .product:hover .productBottomPart .productName {
    color: #fc1201;
}

#mainPart .products .product .productBottomPart .productIteraction .take:hover {
    background-color: #fc1201;
}

#mainPart .products .product .productBottomPart .productIteraction .take:hover svg path {
    fill: #fff;
}

#mainPart .promotions .showMoreBtn {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc1201;
    padding: .75rem 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
}

#mainPart .promotions .showMoreBtn span {
    margin-left: .5rem;
}

#mainPart .promotions .showMoreBtn svg {
    transition: .3s;
}

#mainPart .promotions .showMoreBtn:hover svg {
    transform: rotateZ(180deg);
}